#chat-screen {
  background-color: #abc1d1;
  height: 100vh;
}

#chat-screen .status-bar {
  z-index: 2;
  background-color: #abc1d1;
}
#chat-screen .alt-header {
  z-index: 1;
  background-color: #abc1d1;
  padding-bottom: 10px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    transform: none;
    opacity: 1;
  }
}

@keyframes fadeInLeft {
  from {
    /* opacity: 0; */
    transform: translateX(-50px);
  }
  to {
    transform: none;
    /* opacity: 1; */
  }
}

@keyframes fadeInRight {
  from {
    /* opacity: 0; */
    transform: translateX(50px);
  }
  to {
    transform: none;
    /* opacity: 1; */
  }
}

.message-row {
  /* animation: fadeIn 1s linear; */
  animation: fadeInLeft 1s linear;
}
.message-row--own {
  animation: fadeInRight 1s linear;
}

/* fixed 때문에 레이어가 맞지 않는다. 해결은? */
.chat__top {
  height: 80px;
}

.chat__timestamp {
  z-index: 0;

  display: flex;
  justify-content: center;
}

.chat__timestamp span {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  padding: 5px 10px;
  font-size: 12px;
  color: white;

  margin-bottom: 30px;
}

.message-row {
  width: 100%;
  display: flex;

  margin-bottom: 25px;
}

.message-row--own {
  justify-content: flex-end;
}

.message-row img {
  width: 50px;
  height: 50px;
  margin-right: 15px;
  border-radius: 35%;
}

.message__author {
  /* span 은 display: block 처리를 해야 margin을 먹일 수 있다. */
  margin-bottom: 8px;
  display: block;
}

.message__author,
.message__time {
  opacity: 0.8;
  font-size: 15px;
}

.message__body {
  display: flex;
  align-items: flex-end;
}

.message__buble {
  background-color: white;
  padding: 10px 12px;
  border-radius: 15px;
  border-top-left-radius: 0px;
  margin-right: 10px;
}

.message-row--own .message__buble {
  background-color: var(--yellow);

  border-radius: 15px;
  border-top-right-radius: 0px;

  margin-right: 0px;
  margin-left: 10px;
}

/* 이렇게 순서를 바꿀 수 있음. */
.message-row--own .message__body {
  flex-direction: row-reverse;
}

/* flex 일 경우 위치를 지정할 수 있다. */
/* .message-row--own .message__buble {
  order: 1;
}

.message-row--own .message__time {
  order: 0;
} */

.reply {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: white;

  display: flex;
  justify-content: space-between;
  padding: 5px 25px;
  box-sizing: border-box;
  align-items: center;
  transition: all 0.3s ease-in-out;
}

.reply i {
  opacity: 0.5;
}

.reply .reply__column:first-child {
  width: 10%;
  font-size: 30px;
}
.reply .reply__column:last-child {
  width: 90%;
  position: relative;
}

.reply input {
  /* height: 30px; */
  padding: 12px;
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 20px;

  transition: all 0.3s ease-in-out;
}

.reply__column:last-child > i,
.reply__column:last-child button {
  position: absolute;
  right: -23px;
  top: 5px;
}

.reply__column:last-child > i {
  top: 5px;
  right: 5px;
  font-size: 30px;
  margin-right: 10px;
}

.reply__column:last-child button {
  background-color: var(--yellow);
  border: none;
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.reply__column:last-child button i {
  opacity: 1;
}

.reply__column:last-child button:focus,
.reply__column:last-child button:active {
  outline: none;
}

/* 내부에 포커스된 Element가 있다면~ */
.reply:focus-within .reply__column:first-child,
.reply:focus-within .fa-smile,
.reply:focus-within button {
  opacity: 0;
  visibility: hidden;
}

.reply:focus-within input {
  width: 93vw;
  /* transform: translateX(-13%); */

  /* reply body가 아래로 내려간다. 채팅창만 위치를 고수하도록 하자. */
  transform: translateX(-13%) translateY(-160px);
}

.reply .reply__column:first-child,
.reply .fa-smile,
.reply button {
  transition: opacity 1s ease-in-out;
}

.reply:focus-within {
  /* bottom: -50px; */

  /* 채팅창 전체를 위로 올리는 효과. */
  /* transform: translateY(-160px); */

  /* 채팅창 말고는 아래로 내린다. */
  transform: translateY(160px);
}
