@import "reset.css";
@import "variable.css";

@import "screen/todo.css";
@import "screen/login-form.css";
@import "screen/welcome-header.css";
@import "screen/chat.css";

@import "component/status-bar.css";
@import "component/alt-header.css";

.hidden {
  display: none;
}

.todo-list {
  padding: 50px;
  margin: 50px;
}

body {
  background-color: var(--darkGreen);
}
